<div class="content">
    <table>
        <thead>
            <tr>
              <th>ID</th>
              <th>Nome do Cliente</th>
              <th>CPF</th>
              <th>Email</th>
              <th>Data de Nascimento</th>
              <th>Endereço</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.cpf }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.birth_date }}</td>
                <td>
                     <strong>Logradouro:</strong> {{ customer.address_place }} - {{ customer.address_number }} <br />
                     <strong>Bairro:</strong> {{ customer.address_neighborhood }} <strong>Complemento:</strong> {{ customer.address_complement }} <br />
                     <strong>CEP:</strong> {{ customer.address_cep }} - <strong>Cidade:</strong> {{ customer.address_city }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
