<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="WK Technology Logo"
    src="https://media-exp1.licdn.com/dms/image/C4D0BAQEAO7TanGQS0Q/company-logo_200_200/0/1649870755648?e=1678924800&v=beta&t=WpjnU09zSfEz3GWEOZcaNsV8rhQ3hoD3VTifBT8Wm3Y"
  />
  <span>MK Loja's</span>

  <div class="spacer"></div>

  <a aria-label="Página inicial" title="Página inicial" [routerLink]="['/']">Início</a>
  <a aria-label="Produtos" title="Produtos" [routerLink]="['/products']">Produtos</a>
  <a aria-label="Clientes" title="Clientes" [routerLink]="['/customers']">Clientes</a>

  <a aria-label="Vendas" [routerLink]="['sales']" class="button">Vendas</a>
</div>
